.formcontainer {
    background-color: #121212;
    color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.formContent {
    width: 100%;
}

.formcontainer .contentInput {
    resize: none;
}

.formcontainer h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #00ff00;
}

.formcontainer div {
    margin-bottom: 20px;
}

.formcontainer label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #fff;
}

.formcontainer .input,
.formcontainer .contentInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
    outline: none;
    box-sizing: border-box;
}

.formcontainer .input:focus,
.formcontainer .contentInput:focus {
    border-color: #00ff00;
}

.formcontainer button {
    background-color: #00ff00;
    color: #121212;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.formcontainer button:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.formcontainer button:hover {
    background-color: #00cc00;
}

.formcontainer p {
    text-align: center;
    font-size: 16px;
    color: #00ff00;
    margin-top: 10px;
}

.formcontainer a {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #00ff00;
    text-decoration: none;
    transition: color 0.3s;
}

.formcontainer a:hover {
    color: #00cc00;
}

@media (max-width: 768px) {
    .formcontainer {
        width: 90%;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
    }

    .formcontainer h1 {
        font-size: 24px;
    }

    .formcontainer label {
        font-size: 16px;
    }

    .formcontainer .input,
    .formcontainer .contentInput {
        font-size: 14px;
        padding: 10px;
    }

    .formcontainer button {
        font-size: 16px;
        padding: 10px;
    }

    .formcontainer a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .formcontainer {
      padding: 15px;
      max-width: 400px;
      margin-top: 70px;
    }

    .formcontainer h1 {
        font-size: 20px;
    }

    .formcontainer label {
        font-size: 14px;
    }

    .formcontainer .input,
    .formcontainer .contentInput {
        font-size: 12px;
        padding: 8px;
    }

    .formcontainer button {
        font-size: 14px;
        padding: 8px;
    }

    .formcontainer a {
        font-size: 14px;
    }
}

@media (orientation: landscape) {
    .formcontainer {
        margin-top: 100px;
        max-width: 70%;
        width: 100%;
    }
}
