.postList {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    max-width: 1000px;
    padding-top: 100px;
}
  
.postCard {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 15px 0;
    transition: transform 0.3s ease-in-out;
}
  
.postCard:hover {
    transform: scale(1.02);
}
  
.postTitle {
    font-size: 24px;
    color: #00ff00;
    margin-bottom: 10px;
}
  
.postContent {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 10px;
    text-align: left;
}
  
.postAuthor {
    font-size: 14px;
    color: #00ff00;
}
  
.createPostLink,
.myPostLink {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    color: #00ff00;
    text-decoration: none;
    border: 2px solid #fff;
    background-color: #222;
    border-radius: 8px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
  
.createPostLink:hover,
.myPostLink:hover {
    background-color: #00ff00;
    color: #121212;
}
  
.errorMessage {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
  
p {
    text-align: center;
    font-size: 18px;
    color: #00ff00;
    margin-top: 20px;
}
  
@media (max-width: 768px) {
    .postList {
        width: 95%;
    }
  
    .postCard {
        padding: 15px;
        max-width: 90%;
    }
  
    .postTitle {
        font-size: 22px;
    }
  
    .postContent {
        font-size: 14px;
    }
  
    .postAuthor {
        font-size: 12px;
    }
  
    .createPostLink,
    .myPostLink {
        font-size: 16px;
        padding: 10px 15px;
    }
  
    p {
        font-size: 16px;
    }
}
  
@media (max-width: 480px) {
    .postList {
        width: 100%;
    }
  
    .postCard {
        padding: 10px;
        max-width: 100%;
    }
  
    .postTitle {
        font-size: 20px;
    }
  
    .postContent {
        font-size: 12px;
    }
  
    .postAuthor {
        font-size: 10px;
    }
  
    .createPostLink,
    .myPostLink {
        font-size: 14px;
        padding: 6px 10px;
    }
  
    p {
        font-size: 14px;
    }
}
  