.carouselContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}
  
.carouselSlides {
    width: 50%;
    overflow: hidden;
}
  
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
  
.slide {
    flex: 0 0 100%;
    position: relative;
}
  
.imageContainer {
    position: relative;
    border: 3px solid transparent;
    box-shadow: 0 0 15px 5px #00cc00;
    transition: box-shadow 0.3s ease-in-out;
}
  
.imageContainer:hover {
    box-shadow: 0 0 25px 10px rgba(148, 0, 211, 1);
}
  
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.title {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
  
.textContainer {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.welcomeText {
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
  
@media (max-width: 768px) {
    .carouselContent {
      flex-direction: column;
      align-items: center;
    }
  
    .carouselSlides {
      width: 100%;
    }
  
    .textContainer {
      width: 100%;
      padding-top: 20px;
    }
  
    .title {
      font-size: 1.3rem;
    }
  
    .welcomeText {
      font-size: 1.5rem;
    }
}
  
@media (max-width: 480px) {
    .title {
      font-size: 1.2rem;
    }
  
    .welcomeText {
      font-size: 1.2rem;
    }
}

@media (orientation: landscape) {
    .carouselContent {
      margin-top: 100px;
    }
}