.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    display: flex; /* Asegura que las imágenes y el texto estén en fila */
    position: relative;
}

.imageContainer {
    position: relative;
    flex: 0 0 50%; /* Hace que la imagen ocupe la mitad izquierda */
    padding-right: 20px; /* Separación entre la imagen y el texto */
}

.image {
    max-width: 70%; /* Reducido el tamaño de las imágenes al 80% */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto; /* Centra la imagen en su contenedor */
    display: block; /* Asegura que la imagen se comporta como un bloque */
}

.title {
    margin-left: 160px;
    position: absolute;
    top: 0;
    left: 10px;
    width: 60%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.textContainer {
    flex: 0 0 40%; /* Hace que el texto ocupe la mitad derecha */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px; /* Espacio entre la imagen y el texto */
    gap: 20px; /* Espacio entre los elementos de texto */
}

.welcomeText {
    font-size: 60px; /* Manteniendo un tamaño adecuado para los textos */
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
     /* Fondo oscuro para destacar el texto */
}
