.newsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    padding-top: 200px;
}

.newsCard {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 450px;
}


.newsCard:hover {
    transform: scale(1.05);
}

.newsImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cardContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.newsTitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.newsDescription {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

