.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}
  
.navbar .logoContainer img {
    width: 120px;
}
  
.navContent {
    display: flex;
    align-items: center;
}
  
.navigation, .usernav {
    display: flex;
    list-style: none;
    margin: 0;
}
  
.navigation li, .usernav li {
    margin: 0 15px;
}
  
.navigation li a, .usernav li a, .usernav li button {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
  
.navigation li a:hover,
.usernav li a:hover,
.usernav li button:hover {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}
  
.usernav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
.menuToggle {
    display: none;
}
  
.menuIcon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
  
@media (max-width: 812px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .navContent {
        display: none;
        flex-direction: column;
        width: 100%;
        transition: .2s ease-in-out;
    }

    .navContent.open {
        display: block;
    }
  
    .navigation, .usernav {
        flex-direction: column;
        width: 100%;
    }
  
    .navigation li, .usernav li {
        margin: 10px 0;
    }
  
    .logoContainer img {
        width: 100px;
    }
  
    .menuToggle:checked + .menuIcon + .navContent {
        display: flex;
    }
  
    .menuIcon {
        display: block;
    }
}
  
.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
}
  
@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        margin-top: 100px;
    }
}
  
@media (max-width: 480px) {
    body {
        padding-top: 50px;
    }
  
    .mainContent {
        flex-direction: column;
        margin-top: 60px;
    }
}