h2 {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    font-size: 25px;
}

.myPostsContainer {
    margin-top: 200px;
    text-align: center
}

.myPostsTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.postCard {
    text-align: left;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.postCard:hover {
    transform: scale(1.05);
}

.postTitle {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #4504a2;
    margin-bottom: 10px;
}

.postContent {
    font-size: 16px;
    color: #8605ff;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: none;
}

.postAuthor {
    font-size: 14px;
    color: #002362;
    font-style: italic;
    margin-top: 10px;
}

a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    font-size: 25px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px #28ffff, 0 0 10px #28ffff, 0 0 15px #28ffff, 0 0 20px #28ffff; /* Resplandor neón solo al pasar el cursor */
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #28ffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    box-shadow: 0 0 5px #28ffff, 0 0 10px #28ffff, 0 0 20px #28ffff; /* Resplandor neón en la línea solo al pasar el cursor */
}

.postButton {
    color: #28ffff;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
    border: 3px solid #28ffff;
    border-radius: 25px;
    background: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.postButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #28ffff, 0 0 20px #28ffff;
}

.backLink {
    color: #28ffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s ease;
}

.backLink:hover {
    color: #fff;
    text-shadow: 0 0 5px #28ffff, 0 0 10px #28ffff, 0 0 15px #28ffff;
}

.inputTitle, .inputText{
    width: 95%;
    padding: 10px;
    margin: 20px 0;
    border: solid 3px #28ffff;
    background: none;
    color: #28ffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: translateY(0);
}

.inputText {
    border-radius: 10px;
}

.inputTitle:focus, .inputText:focus {
    background-color: #28ffff;
    color: #282c34;
    transform: scale(1.1);
    box-shadow: 0 0 10px #28ffff, 0 0 20px #28ffff;
}

.inputText {
    min-height: 100px;
    resize: vertical;
}